In [1]:
import pandas as pd
import numpy as np

# SKLearn Stuff
from sklearn import cross_validation
from sklearn.naive_bayes import GaussianNB

In [2]:
# Load the data into a pandas dataframe
df = pd.read_csv("../../data/blood_transfusion/transfusion.data")

In [3]:
df.describe()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
count,748.000000,748.000000,748.000000,748.000000,748.000000
mean,9.506684,5.514706,1378.676471,34.282086,0.237968
std,8.095396,5.839307,1459.826781,24.376714,0.426124
min,0.000000,1.000000,250.000000,2.000000,0.000000
25%,2.750000,2.000000,500.000000,16.000000,0.000000
50%,7.000000,4.000000,1000.000000,28.000000,0.000000
75%,14.000000,7.000000,1750.000000,50.000000,0.000000
max,74.000000,50.000000,12500.000000,98.000000,1.000000

Lets see the first 6 entries of the data

In [4]:
df.ix[:5]

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0
5,4,4,1000,4,0

In [5]:
# First 4 columns are features
X = df.values[:,:4]
# Last column is the class (this is a binary problem)
Y = df.values[:,-1]

In [6]:
X[:5]

array([[    2,    50, 12500,    98],
       [    0,    13,  3250,    28],
       [    1,    16,  4000,    35],
       [    2,    20,  5000,    45],
       [    1,    24,  6000,    77]])

In [7]:
Y[:5]

array([1, 1, 1, 1, 0])

Do a train-test split for cross validation

In [8]:
# Cross validation setup (20% training)

X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, Y, test_size=0.2, 
                                                                     random_state=np.random.randint(1000000))

Building a naive bayes classifier

In [9]:
clf = GaussianNB()
clf.fit(X_train, y_train)

GaussianNB()

In [10]:
# Compuer classification accuracy of test set
clf.score(X_test, y_test)

0.72666666666666668